Source: ros-kinetic-imagezero-ros
Section: misc
Priority: extra
Maintainer: P. J. Reed <preed@swri.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cv-bridge, ros-kinetic-imagezero, ros-kinetic-message-runtime, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-imagezero-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cv-bridge, ros-kinetic-imagezero, ros-kinetic-message-runtime, ros-kinetic-sensor-msgs
Description: A library that provides convenient methods for manipulating ROS images with ImageZero
