Source: ros-kinetic-imagezero-image-transport
Section: misc
Priority: extra
Maintainer: P. J. Reed <preed@swri.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cv-bridge, ros-kinetic-image-transport, ros-kinetic-imagezero-ros, ros-kinetic-message-runtime, ros-kinetic-sensor-msgs
Homepage: http://www.ros.org/wiki/image_transport_plugins
Standards-Version: 3.9.2

Package: ros-kinetic-imagezero-image-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cv-bridge, ros-kinetic-image-transport, ros-kinetic-imagezero-ros, ros-kinetic-message-runtime, ros-kinetic-sensor-msgs
Description: A plugin to image_transport for transparently sending images encoded with ImageZero.
